{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan ku</title>
{% endblock meta %}

{% block content %}
  <h1>Daftar KEGIATANKU</h1>
  
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="center-items">
          <input type="submit" name="btn btn-primary" id="Add Schedule">
    </div>
</form>

<table class="table">
    <thead>
        <tr>
          <th scope="col">Nama Kegiatan</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Peserta</th>
            
        </tr>
    </thead>
    <tbody>
        {% for keg in acr %}
          <tr>
              <th scope="row">{{keg.name}}</th>
              <!-- <td>{{i.deskripsi}}</td> -->
          </tr>
          {% endfor %}
    </tbody>

</table>

{% endblock content %}
